@model Vjezba.Model.UserVehicle


@{
    ViewData["Title"] = "Uređivanje vozila zaposlenika";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Popis vozila</a></li>
        <li class="breadcrumb-item active" aria-current="page">Uređivanje vozila</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="ID" />
            <partial name="_CreateOrEdit" />
        </form>
    </div>
</div>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p strong>@error.ErrorMessage</p>
        }
    </div>
}
