@model Vjezba.Model.Service

<div class="form-group">
	<label class="control-label">SNaziv usluge</label>
	<input asp-for="ServiceName" class="form-control" />
	<span asp-validation-for="ServiceName" class="text-danger"></span>
</div>
<div class="form-group">
	<label class="control-label">Cijena usluge</label>
	<input asp-for="ServicePrice" class="form-control" />
	<span asp-validation-for="ServicePrice" class="text-danger"></span>
</div>
<div class="form-group">
	<label class="control-label">Opis usluge</label>
	<input asp-for="ServiceDescription" class="form-control" />
	<span asp-validation-for="ServiceDescription" class="text-danger"></span>
</div>
<div class="form-group" style="margin-top: 10px;">
	<input type="submit" value="Spremi" class="btn btn-outline-success" />
</div>

